.portfolio {
  padding: 0 70px 105px;
}

.portfolio__title {
  margin: 0 0 32px;
  padding: 0;
  width: 250px;
  color: #A0A0A0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.11;
}

.portfolio__items {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.portfolio__item {
  margin: 0;
  padding: 20px 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.66;
  letter-spacing: -1.2px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #E8E8E8;
}

.portfolio__item:first-child {
  border-top: none;
}

.portfolio__link {
  margin: 0;
  padding: 0;
  max-width: 880px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

.portfolio__link:hover {
  opacity: 0.7;
}
