.promo {
  background-color: #F3C1F8;
  background-image: url(../../images/landing-logo.svg);
  background-position: center 82px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.promo__title {
  margin: 184px 0 223px;
  padding: 0;
  max-width: 730px;
  font-size: 50px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: -2px;
  text-align: center;
}

@media screen and (max-width: 860px) {
  .promo {
    background-position: center 224px;
  }

  .promo__title {
    margin-top: 326px;
    margin-bottom: 342px;
  }
}

@media screen and (max-width: 460px) {
  .promo {
    background-size: 248px 248px;
    background-position: center 142px;
  }

  .promo__title {
    margin-top: 208px;
    margin-bottom: 246px;
    max-width: 300px;
    font-size: 31px;
    line-height: 1.25;
    letter-spacing: -1.24px;
  }
}
