.search {
  margin: 0 auto;
  padding: 70px 0;
  box-sizing: border-box;
  max-width: 1140px;
  border-bottom: 1px solid #E8E8E8;
}

.search__box {
  border-radius: 9px;
  background: #FDFDFD;
  box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
}

.search__form {
  display: grid;
  grid-template-columns: 1fr 80px 226px;
  gap: 20px;
  align-items: center;
  justify-content: center;

}

.search__input {
  margin: 19px;
  padding: 0 0 0 45px;
  max-width: 800px;
  min-height: 34px;
  border: none;
  background: transparent;
  background-image: url(../../images/icon.svg);
  background-repeat: no-repeat;
  background-size: 34px 34px;
  background-position: 0% 0%;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.11;
}

.search__input::placeholder {
  color: #A0A0A0;
}

.search__input:focus {
  outline: 0;
}

.search__submit {
  padding: 0;
  margin: 0;
  width: 80px;
  height: 34px;
  border: none;
  background: transparent;
  background-image: url(../../images/find.svg);
  background-position: center right;
  background-size: 80px 34px;
  background-repeat: no-repeat;
}

.search__filter {
  width: 226px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border-left: 1px solid #E8E8E8;
}

.search__condition {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.38;
}

