.header {
  margin: 0 auto;
  padding: 0 70px;
  max-width: 1280px;
  min-height: 74px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header_place_main {
  background-color: #F3C1F8;
}

.header_place_movies {
  background-color: #FFF;
}

.header__logo {
  width: 38px;
  height: 38px;
  object-fit: cover;
  display: block;
}

.header__nav-main {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}

.header__registration {
  padding: 0;
  margin-right: 30px;
  text-align: right;
  text-decoration: none;
  color: #000;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.header__registration:hover {
  opacity: 0.7;
}

.header__entry {
  width: 76px;
  height: 32px;
  text-decoration: none;
  border-radius: 3px;
  background: #000;
  color: #FFF;
  border: 0;
  cursor: pointer;
  transition: 0.3s;
}

.header__entry:hover {
  opacity: 0.8;
}

.header__nav-movies {
  display: grid;
  grid-template-columns: 54px 144px 1fr;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.header__movies {
  text-decoration: none;
  color: #000;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.38;
  cursor: pointer;
  transition: 0.3s;
}

.header__movies:hover {
  opacity: 0.7;
}

.header__movies_active {
  font-weight: 500;
}

.header__profile {
  margin: 0 0 0 18.5vw;
  padding: 0;
  width: 100px;
  height: 32px;
  border-radius: 20px;
  border: none;
  background: #F9F9F9;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  cursor: pointer;
  transition: 0.3s;
}

.header__profile:hover {
  opacity: 0.8;
}

@media screen and (max-width: 960px) {
  .header {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media screen and (max-width: 460px) {
  .header {
    padding-right: 4px;
    padding-left: 4px;
  }

  .header__entry {
    width: 54px;
    height: 26px;

  }

  .header__nav-main {
    font-size: 10px;
    line-height: 1.6;
  }
}
